// Custom styles.

// 头部背景图
.header {
    background: url("/assets/img/header.svg");
}

// 去除站点标题背景色
.brand {
	background: none;
}

// 站点标题字体样式调整
.site-title {
	font-size: 28px;
	color: black;
    font-family: 'Comic Sans MS', sans-serif;
}

// 站点页脚字体样式调整
.footer {
	font-size: 12px;
    font-family: 'Comic Sans MS', sans-serif;
}

// copyright 左边颜色
.post-copyright {
	border-left: 3px solid #5bc0de;
}